
.card-header .image img{
    display: inline;
    height: 120px;
    padding-right: 40px;
  }
.card-header .btn img{
  margin-right: -25px;
}
.card-header .btn b{
  margin-left: 18px;
  margin-right: 5px;
}
.card-header{
    background-color:greenyellow;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .card-header button{
  margin: 30px 30px 10px 10px;
  align-items: center;
  }
  #pesquisar{
    height: 50px;
    width: 90px;
}

 /* Pokemon Grid responsivo mobile */

 @media screen and (max-width: 375px) {
  .card-header button{
    margin: 25px 15px 10px 0px;
    align-items: center;
    padding: 4px;
    }
    #pesquisar{
      height: 50px;
      width: 90px;
  }
  .card-header{
    padding-bottom:40px ;
    margin-bottom: 35px;
  }
 }